<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>Document</title>
</head>

<body>
  <div class="card mb-3"
    style="max-width: 540px; margin-left: auto; margin-right: auto; border: 5px solid #58595B; border-radius:5%;">
    <div class="row no-gutters" style="text-align: center;">
      <div class="col-md-4" style="text-align: center;">
        <h1 style="text-align: center;">Reset Password Confirmation</h1>
        <img src="https://res.cloudinary.com/drta3xh4e/image/upload/v1639051150/taliKasih_rmghfa.png" class="logo-footer" style="height: 200px; width:450px;">
      </div>
      <div class="col-md-8" style="text-align: center;">
        <div class="card-body" style="text-align: center;">
          <hr>
          <h2 class="card-title">Please click the link below:</h2>
          <p class="card-text">URL: <a href="{{link}}">{{link}}</a> </p>
          <div class="card">
            <p class="card-text">Thank you for your confirmation</p>
          </div>
        </div>
        <h6 style="color: grey; text-align: center;">© Tali Kasih 2021. All rights reserved</h6>
      </div>
</body>

</html>
